<!-- NAVBAR -->
<app-navbar></app-navbar>
<!-- BODY -->
<main>
    <section class="intro-section" id="introSection">
        <div class="banner">
            <ng-particles class="ts-particles" [id]="id" [url]="particlesUrl" (particlesLoaded)="particlesLoaded($event)"></ng-particles>
            <!-- (particlesInit)="particlesInit($event)" -->
            <div class="intro-content-wrapper">
                <div class="intro-content-div div-left">
                    <div class="photo-placeholder">
                        <img [src]="'/assets/img/' + this.persona.url_foto" alt="Foto del usuario">
                    </div>
                </div>
                <div class="intro-content-div div-right">
                    <div class="white-blur"></div>
                    <div class="photo-placeholder-mobile">
                        <img [src]="'/assets/img/' + this.persona.url_foto" alt="Foto del usuario">
                    </div>
                    <h1>
                        {{persona.nombre}} {{persona.apellido}}
                        <!-- <div class="edit-btn-intro-container">
                            <a href="#" class="edit-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"/></svg>
                            </a>
                        </div> -->
                    </h1>
                    <h2>
                        {{persona.descripcion}}
                        <!-- <div class="edit-btn-intro-container">
                            <a href="#" class="edit-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"/></svg>
                            </a>
                        </div> -->
                    </h2>
                    <div class="p-container">
                        <p>
                            {{persona.sobre_mi}}
                        </p>
                        <!-- <div class="edit-btn-intro-container">
                            <a href="#" class="edit-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"/></svg>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="exp-section" id="expSection">
        <div class="add-btn-container">
            <a href="#" class="add-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
            </a>
        </div>
        <div class="section-title-grp">
            <h2>Experiencia Laboral</h2>
            <div class="section-title-underline"></div>
        </div>
        <ul>
            <li *ngFor="let experienciaLaboral of personaExperienciaLaboral">
                <!--
                    <div class="edit-delete-btn-grp">
                        <a href="#" class="edit-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"/></svg>
                        </a>
                        <a href="#" class="delete-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg>
                        </a>
                    </div>
                 -->
                <h4>{{ experienciaLaboral.nombre_empresa }}</h4>
                <p *ngIf="!experienciaLaboral.es_trabajo_actual" class="experiencia-laboral-year">{{experienciaLaboral.fecha_inicio.split('-')[1]}}-{{ experienciaLaboral.fecha_inicio.split('-')[0] }} al {{ experienciaLaboral.fecha_fin.split('-')[1]}}-{{ experienciaLaboral.fecha_fin.split('-')[0] }}</p>
                <p *ngIf="experienciaLaboral.es_trabajo_actual" class="experiencia-laboral-year">{{experienciaLaboral.fecha_inicio.split('-')[1]}}-{{ experienciaLaboral.fecha_inicio.split('-')[0] }} - Actualidad</p>
                <p class="experiencia-laboral-descripcion">{{ experienciaLaboral.descripcion }}</p>
            </li>
        </ul>
    </section>
   
    <section class="skills-section" id="skillsSection">
        <!-- <div class="add-btn-container">
            <a href="#" class="add-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
            </a>
        </div> -->
        <div class="section-title-grp">
            <h2 class="skills-sections-title">Habilidades</h2>
            <div class="section-title-underline"></div>
        </div>
        <div class="skill-unit-container" id="skillUnitContainer">
            <!-- SKILS -->
            <app-habilidad-item *ngFor="let habilidad of personaHabilidades" [habilidad]="habilidad"></app-habilidad-item>
        </div>
    </section>
    
    <section class="educacion-section" id="educacionSection">
        <div class="section-title-grp">
            <h2>Educación</h2>
            <div class="section-title-underline"></div>
        </div>
        <ul>
            <li *ngFor="let educacion of personaEducacion">
                <h4>{{ educacion.nivel }}</h4>
                <p>{{ educacion.establecimiento }}</p>
                <p>{{ educacion.titulo }}</p>
            </li>
        </ul>
    </section>

    <section class="proyectos-section" id="proyectosSection">
        <!-- <div class="add-btn-container">
            <a href="#" class="add-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
            </a>
        </div> -->
        <div class="section-title-grp">
            <h2>Proyectos</h2>
            <div class="section-title-underline"></div>
        </div>
        <ul class="proyectos-ul">
            <li *ngFor="let proyecto of personaProyectos">
                <!-- <div class="edit-delete-btn-grp-small">
                    <a href="#" class="edit-btn-small">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"/></svg>
                    </a>
                    <a href="#" class="delete-btn-small">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg>
                    </a>
               </div> -->
                <a [href]="proyecto.link" class="proyectos-ul-li-a" target="_blank">
                    <img [src]="'/assets/img/proy/' + proyecto.url_imagen" [alt]="proyecto.nombre" [class]="proyectosCss[proyecto.orden]">
                    <h3>{{ proyecto.nombre }}</h3>
                    <p>{{ proyecto.descripcion }}</p>
                </a>
            </li>
        </ul>
    </section>
</main>
<!-- FOOTER -->
<app-footer></app-footer>