<!-- NAVBAR -->
<app-navbar [github_link]="persona.github_link" [facebook_link]="persona.facebook_link"></app-navbar>
<!-- BODY -->
<main>
    <section class="intro-section" id="introSection">
        <div class="banner">
            <ng-particles class="ts-particles" [id]="id" [url]="particlesUrl" (particlesLoaded)="particlesLoaded($event)"></ng-particles>
            <div class="intro-content-wrapper">
                <div class="intro-content-div div-left">
                    <div class="photo-placeholder">
                        <img [src]="fotoUrl" alt="Foto del usuario">
                    </div>
                </div>
                <div class="intro-content-div div-right">
                    <div class="white-blur"></div>
                    <div class="photo-placeholder-mobile">
                        <img [src]="fotoUrl" alt="Foto del usuario">
                    </div>
                    <h1>
                        {{persona.nombre}} {{persona.apellido}}
                        <div class="edit-btn-intro-container">
                            <app-edit-btn *ngIf="userLoggedIn" (click)="showModal('Persona','Edit', persona)"></app-edit-btn>
                        </div>
                    </h1>
                    <h2>
                        {{persona.descripcion}}
                        <div class="edit-btn-intro-container">
                            <app-edit-btn *ngIf="userLoggedIn" (click)="showModal('Persona','Edit', persona)"></app-edit-btn>
                        </div>
                    </h2>
                    <div class="p-container">
                        <p>
                            {{persona.sobre_mi}}
                        </p>
                        <div class="edit-btn-intro-container">
                            <app-edit-btn *ngIf="userLoggedIn" (click)="showModal('Persona','Edit', persona)"></app-edit-btn>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="exp-section" id="expSection">
        <div class="add-btn-container">
            <app-add-btn *ngIf="userLoggedIn" (click)="showModal('ExpLaboral','add')"></app-add-btn>
        </div>
        <div class="section-title-grp">
            <h2>Experiencia Laboral</h2>
            <div class="section-title-underline"></div>
        </div>
        <ul>
            <li *ngFor="let experienciaLaboral of personaExperienciaLaboral">
                <div class="edit-delete-btn-grp">
                    <app-edit-btn *ngIf="userLoggedIn" (click)="showModal('ExpLaboral','edit', experienciaLaboral)"></app-edit-btn>
                    <app-delete-btn *ngIf="userLoggedIn" (click)="deleteItem(experienciaLaboral.id!, 'ExpLaboral')"></app-delete-btn>
                </div>
                <h4>{{ experienciaLaboral.nombre_empresa }}</h4>
                <p *ngIf="!experienciaLaboral.es_trabajo_actual" class="experiencia-laboral-year">{{ experienciaLaboral.fecha_inicio | date:"MM-yyyy" }} al {{ experienciaLaboral.fecha_fin | date:"MM-yyyy" }}</p>
                <p *ngIf="experienciaLaboral.es_trabajo_actual" class="experiencia-laboral-year">{{ experienciaLaboral.fecha_inicio | date:"MM-yyyy" }} - Actualidad</p>
                <p class="experiencia-laboral-descripcion">{{ experienciaLaboral.descripcion }}</p>
                <p class="experiencia-laboral-tipoempleo">{{ experienciaLaboral.tipo_empleo.nombre_tipo }}</p>
            </li>
        </ul>
    </section>
   
    <section class="skills-section" id="skillsSection">
        <div class="add-btn-container">
            <app-add-btn *ngIf="userLoggedIn" (click)="showModal('Habilidad', 'add')"></app-add-btn>
        </div>
        <div class="section-title-grp">
            <h2 class="skills-sections-title">Habilidades</h2>
            <div class="section-title-underline"></div>
        </div>
        <div class="skill-unit-container" id="skillUnitContainer">
            <!-- SKILS -->
            <app-habilidad-item *ngFor="let habilidad of personaHabilidades" [habilidad]="habilidad" [userLoggedIn]="userLoggedIn" [persona]="persona"></app-habilidad-item>
        </div>
    </section>
    
    <section class="educacion-section" id="educacionSection">
        <div class="add-btn-container">
            <app-add-btn *ngIf="userLoggedIn" (click)="showModal('Educacion','add', persona.educacion)"></app-add-btn>
        </div>
        <div class="section-title-grp">
            <h2>Educación</h2>
            <div class="section-title-underline"></div>
        </div>
        <ul>
            <li *ngFor="let educacion of personaEducacion">
                <div class="edit-delete-btn-grp">
                    <app-edit-btn *ngIf="userLoggedIn" (click)="showModal('Educacion','edit', educacion)"></app-edit-btn>
                    <app-delete-btn *ngIf="userLoggedIn" (click)="deleteItem(educacion.id!, 'Educacion')"></app-delete-btn>
                </div>
                <h4>{{ educacion.nivel }}</h4>
                <p>{{ educacion.establecimiento }}</p>
                <p>{{ educacion.titulo }}</p>
            </li>
        </ul>
    </section>

    <section class="proyectos-section" id="proyectosSection">
        <div class="add-btn-container">
            <app-add-btn *ngIf="userLoggedIn" (click)="showModal('Proyecto', 'add')"></app-add-btn>
        </div>
        <div class="section-title-grp">
            <h2>Proyectos</h2>
            <div class="section-title-underline"></div>
        </div>
        <ul class="proyectos-ul">
            <li *ngFor="let proyecto of personaProyectos">
                <div class="edit-delete-btn-grp-small">
                    <app-edit-btn [size]="'small'" *ngIf="userLoggedIn" (click)="showModal('Proyecto', 'edit', proyecto)"></app-edit-btn>
                    <app-delete-btn [size]="'small'" *ngIf="userLoggedIn" (click)="deleteItem(proyecto.id!, 'Proyecto')"></app-delete-btn>
                </div>
                <a [href]="proyecto.link" class="proyectos-ul-li-a" target="_blank">
                    <div class="proyectos-img-container">
                        <img [src]="'/assets/img/proy/' + proyecto.url_imagen" [alt]="proyecto.nombre">
                    </div>
                    <div class="proyectos-txt-container">
                        <h3>{{ proyecto.nombre }}</h3>
                        <p>{{ proyecto.descripcion }}</p>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</main>
<!-- FOOTER -->
<app-footer [nombre]="persona.nombre + ' ' + persona.apellido"></app-footer>

<!-- MODALS -->
<app-add-edit-persona [userLoggedIn]="userLoggedIn" [persona]="persona"></app-add-edit-persona>
<app-add-edit-educacion [userLoggedIn]="userLoggedIn" [persona]="persona"></app-add-edit-educacion>
<app-add-edit-explaboral [userLoggedIn]="userLoggedIn" [persona]="persona"></app-add-edit-explaboral>
<app-add-edit-habilidad [userLoggedIn]="userLoggedIn" [persona]="persona"></app-add-edit-habilidad>
<app-add-edit-proyecto [userLoggedIn]="userLoggedIn" [persona]="persona"></app-add-edit-proyecto>