/*-----------------------------------------------------------------------------------------------*/
/* INTRO
/*-----------------------------------------------------------------------------------------------*/

.intro-section {
    position: relative;
    height: 100vh;
}

.banner {
    width: 100%;
    height: 100%;
    display: flex;
    background: #12c2e9;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

.ts-particles  {
    width: 100%;
}

#tsparticles canvas {
    height: 100% !important;
}

.intro-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.intro-content-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-right {
    align-items: flex-start;
    padding-left: 2.5vw;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.45);
    color: whitesmoke;
    letter-spacing: -0.125rem;
    position: relative;
    line-height: 5rem;
    overflow: hidden;
}

.div-right h1 {
    font-size: 5vw;
    font-weight: 700;
    z-index: 1;
    word-spacing: -0.8rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
}

.div-right h2 {
    font-size: 2.5vw;
    font-weight: 700;
    z-index: 1;
    position: relative;
    z-index: 10;
    line-height: 3rem;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.p-container {
    z-index: 10;
    position: relative;
    width: 82%;
}

.div-right p {
    font-size: 0.85vw;
    line-height: 1.5rem;
    word-spacing: unset;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.white-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(220, 239, 255, 0.35);
    z-index: 5;
    filter: blur(0.1rem);
}

/* PHOTO */

.photo-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    min-width: 18rem;
    min-height: 18rem;
    overflow: hidden;
    border: 1px solid rgba(255, 225, 255, 0.5);
}

.photo-placeholder img {
    width: 90%;
}

.photo-placeholder-mobile {
    display: none;
}

@media only screen and (max-width: 1200px)  and (orientation: portrait) {
 
    .div-right {
        line-height: 4rem;
        padding-left: 1rem;
        text-align: center;
    }

    .div-right h1 {
        font-size: 4rem;
        word-spacing: unset;
        text-align: center;
        line-height: unset;
        width: 100%;
    }
    
    .div-right h2 {
        font-size: 2.5rem;
        line-height: unset;
        width: 100%;
    }

    .div-right p {
        width: 95%;
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 1200px) and (orientation: landscape) {
     
    .div-right {
        line-height: 3.5rem;
        padding-left: 1rem;
    }

    .div-right h1 {
        font-size: 3.75rem;
        word-spacing: unset;
        line-height: unset;
        width: 100%;
        
    }
    
    .div-right h2 {
        font-size: 2rem;
        width: 100%;
    }
    
    .div-right h3 {
        font-size: 2rem;
        line-height: unset;
        width: 100%;
    }

    .div-right p {
        width: 95%;
        font-size: 0.75rem;
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .intro-section {
        height: 100vh;
        padding-top: 4vh;
    }

    .intro-content-wrapper {
        display: flex;
        width: 100%;
    }
    
    .photo-placeholder-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 8rem;
        height: 8rem;
        overflow: hidden;
        border: 1px solid rgba(255, 225, 255, 0.5);
    }

    .photo-placeholder-mobile img {
        width: 100%;
    }
    
    .div-left {
        display: none;
    }

    .div-right {
        padding: 0;
        align-items: center;
        line-height: unset;
        width: 100%;
    }

    .div-right h1 {
        font-size: 4rem;
        word-spacing: unset;
        text-align: center;
        line-height: 4rem;
        margin-bottom: 1rem;
    }
    
    .div-right h2 {
        font-size: 2rem;
        width: 80%;
        text-align: center;
    }

    .p-container {
        z-index: 10;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .div-right p {
        width: 85%;
    }

    .white-blur {
        height: calc(100vh - 25px);
    }

}

@media only screen and (max-height: 500px) and (orientation: landscape) {
    .intro-section {
        min-height: 475px;
    }
    
    .intro-content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .photo-placeholder-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 8rem;
        height: 8rem;
        overflow: hidden;
        border: 1px solid rgba(255, 225, 255, 0.5);
    }

    .photo-placeholder-mobile img {
        width: 100%;
    }
    
    .div-left {
        display: none;
    }

    .div-right {
        width: 100%;
        height: 100%;
        padding: 0;
        align-items: center;
        justify-content: flex-end;
        line-height: unset;
    }

    .div-right h1 {
        font-size: 3.5rem;
        word-spacing: unset;
        text-align: center;
        line-height: 4rem;
    }
    
    .div-right h2 {
        font-size: 1.85rem;
        width: 100%;
        text-align: center;
    }

    .div-right p {
        line-height: unset;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }
}

/*-----------------------------------------------------------------------------------------------*/
/* EXP SECTION
/*-----------------------------------------------------------------------------------------------*/

.exp-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    position: relative;
}

.exp-section ul {
    list-style: none;
    width: 65%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

.exp-section ul li {
    padding: 2rem 0;
    margin: 1rem 0;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eee;
    width: 90%;
    text-align: center;
    border:  1px solid rgba(238, 238, 238, 0.15);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 15px rgba(255,255,255,0.55);
    position: relative;
}

.experiencia-laboral-descripcion {
    width: 65%;
}

.experiencia-laboral-year {
    margin: 0.25rem 0;
}

.experiencia-laboral-tipoempleo {
    font-weight: 700;
    margin: 0.25rem 0;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .exp-section {
        height: unset;
        padding: 2rem 0;
    }
    
    .exp-section ul {
        width: 90%;
    }

    .exp-section ul li {
        width: 100%;
    }
    
    .experiencia-laboral-year {
        margin: 0.5rem 0;
    }

    .experiencia-laboral-descripcion {
        width: 90%;
    }
}

@media only screen and (max-width: 1366px)  and (orientation: landscape) {
    .exp-section {
        height: unset;
        padding: 2rem 0;
    }
    
    .exp-section ul {
        width: 70%;
    }

    .exp-section ul li {
        width: 100%;
    }

}

@media only screen and (max-height: 500px) and (orientation: landscape) {
    .exp-section {
        height: unset;
        padding: 2rem 0;
    }

    .exp-section ul {
        width: 90%;
    }

    .exp-section ul li {
        width: 100%;
    }
}

/*-----------------------------------------------------------------------------------------------*/
/* SKILLS
/*-----------------------------------------------------------------------------------------------*/

.skills-section {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--dark-grey);
    padding: 2rem 0;
    position: relative;
}

.skills-sections-title {
    color: whitesmoke;
}

.skill-unit-container {
    width: 85vw;
    max-width: 1300px;
    min-width: 700px;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 1.5rem;
    margin-top: 3rem;
}

@media only screen and (max-width: 1024px) and (orientation:portrait) {
    .skills-section {
        height: unset;
        padding: 2rem 1rem;
    }

    .skill-unit-container {
        grid-template-columns: repeat(4, 1fr);
        width: unset;
        min-width: unset;
        grid-row-gap: 0.5rem;
        grid-column-gap: 0.5rem;
    }
}

@media only screen and (max-width: 1366px) and (orientation: landscape) {
    .skills-section {
        height: unset;
        padding: 2rem 1rem;
    }

    .skill-unit-container {
        width: 85%;
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 1rem;
        min-width: unset;
    }
}

@media only screen and (max-width: 640px) and (orientation:portrait) {
    .skill-unit-container {
        grid-template-columns: repeat(2, 1fr);
        min-width: unset;
    }
}

@media only screen and (max-height: 500px) and (orientation: landscape) {
    .skills-section {
        height: unset;
        padding: 2rem 1rem;
        position: relative;
    }

    .skill-unit-container {
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 0.5rem;
        grid-column-gap: 0.5rem;
        min-width: unset;
    }
}

/*-----------------------------------------------------------------------------------------------*/
/* EDUCACION SECTION
/*-----------------------------------------------------------------------------------------------*/

.educacion-section {
    min-height: 65vh;
    height: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 5vh 0;
}

.educacion-section ul {
    margin-top: 2rem;
    list-style: none;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.educacion-section ul li {
    padding: 2rem 0;
    margin: 1rem 0;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eee;
    width: 90%;
    text-align: center;
    border:  1px solid rgba(238, 238, 238, 0.15);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 15px rgba(255,255,255,0.55);
    position: relative;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .educacion-section {
        height: unset;
        padding: 2rem 0;
    }
    
    .educacion-section ul {
        width: 90%;
    }

    .educacion-section ul li {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px)  and (orientation: landscape) {
    .educacion-section {
        height: unset;
        padding: 2rem 0;
    }
    
    .educacion-section ul {
        width: 70%;
    }

    .educacion-section ul li {
        width: 100%;
    }
}

@media only screen and (max-height: 500px) and (orientation: landscape) {
    .educacion-section {
        height: unset;
        padding: 2rem 0;
    }
    
    .educacion-section ul {
        width: 90%;
    }

    .educacion-section ul li {
        width: 100%;
    }
}

/*-----------------------------------------------------------------------------------------------*/
/* PROYECTOS SECTION
/*-----------------------------------------------------------------------------------------------*/

.proyectos-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background: radial-gradient(circle at top left,#ffb7d1 0,#9ab3ff 70%,#9bccff 100%);
    position: relative;
}

.proyectos-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3vh;
    align-content: center;
    justify-items: center;
    width: 80%;
    list-style: none;
    margin-top: 3rem;
}

.proyectos-ul li {
    width: 20vw;
    height: 15vw;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    border:  1px solid rgba(238, 238, 238, 0.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.08);
    transition: transform 0.25s ease-in-out;
    position: relative;
}

.proyectos-ul li:hover {
    transform: translateY(-0.5rem);
}

.proyectos-ul-li-a {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.proyectos-img-container {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.proyectos-txt-container {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
}

.proyectos-img-container img {
    max-width: 100%;
    max-height: 95%;
}

.proyectos-ul li h3 {
    margin-top: 0.5rem;
    font-size: 1.35rem;
    text-align: center;
} 

.proyectos-ul li p {
    text-align: center;
    margin-top: 0.25rem;
    font-size: 0.95rem;
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    .proyectos-section {
        height: unset;
        padding: 2rem 0;
    }
    
    .proyectos-ul {
        width: 95%;
    }

    .proyectos-ul li {
        width: 15rem;
        height: 15rem;
        margin: 0.5rem 0;
    }

    .proyectos-ul li h3 {
        font-size: 1rem;
    }
    
    .proyectos-ul li p {
        font-size: 0.85rem;
    }
    
    .proy-laautopista-img {
        width: 10rem;
    }
}

@media only screen and (max-width: 1366px)  and (orientation: landscape) {
    .proyectos-ul li {
        width: 16rem;
        height: 16rem;
        margin: 0.5rem 0;
    }

    .proyectos-ul li h3 {
        font-size: 1rem;
    }
    
    .proyectos-ul li p {
        font-size: 0.85rem;
        margin-top: 0;
    }

    .proyectos-ul-li-a {
        padding: 0 1rem;
    }
    
    .proy-laautopista-img {
        width: 11rem;
    }

    .proy-malvinas-img {
        height: 120px;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .proyectos-ul {
        width: 98%;
    }
    
    .proyectos-img-container img {
        min-width: 12vh;
    }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
    .proyectos-ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-height: 500px) and (orientation: landscape) {
    .proyectos-section {
        height: unset;
        padding: 2rem 0;
    }
    
    .proyectos-ul {
        width: 95%;
    }

    .proyectos-ul li {
        width: 12rem;
        height: 12rem;
        margin: 0.5rem 0;
    }

    .proyectos-ul li h3 {
        font-size: 0.85rem;
    }
    
    .proyectos-ul li p {
        font-size: 0.75rem;
        margin-top: 0;
    }

    .proyectos-ul-li-a {
        padding: 0 1rem;
    }
    
    .proy-laautopista-img {
        width: 8rem;
    }

    .proy-malvinas-img {
        height: 90px;
    }

    .proy-lab-img {
        height: 70px;
    }
}

/*-----------------------------------------------------------------------------------------------*/
/* ADD-DELETE-EDIT BTNS
/*-----------------------------------------------------------------------------------------------*/

.add-btn-container {
    width: 100%;
    /* padding: 2vw 4vw; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 0;
}

.edit-btn-intro-container {
    position: absolute;
    top: 0;
    right: -4.25vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.edit-delete-btn-grp {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.5vw;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.edit-delete-btn-grp-small {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
    .edit-btn-intro-container {
        right: 0;
        padding-right: 1vw;
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    .edit-btn-intro-container {
        right: 0;
        padding-right: 1vw;
    }

    .edit-delete-btn-grp {
        padding: 0 0.5rem;
        justify-content: center;
        flex-direction: column;
    }
    
    .edit-delete-btn-grp-small {
        padding: 0.5rem 0.25rem;
        flex-direction: column;
    }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
    .edit-btn-intro-container {
        right: 0;
        padding-right: 1vw;
    }
}