<!-- NAVBAR -->
<app-navbar [github_link]="persona.github_link" [facebook_link]="persona.facebook_link"></app-navbar>

<!-- LOADER -->
<app-loader *ngIf="loaderState"></app-loader>
<!-- BODY -->
<main>
    <section class="intro-section" id="introSection">
        <div class="banner">
            <ng-particles class="ts-particles" [id]="id" [url]="particlesUrl" (particlesLoaded)="particlesLoaded($event)"></ng-particles>
            <div class="intro-content-wrapper">
                <div class="intro-content-div div-left">
                    <div class="photo-placeholder">
                        <div class="photo-edit-btn">
                            <app-edit-btn *ngIf="userLoggedIn" (click)="showModal('ProfilePhoto','edit', persona)"></app-edit-btn>
                        </div>
                        <div class="photo-img-overflow-hidden">
                            <!-- <img src="../../../assets/img/user.png" alt="Foto del usuario" *ngIf="persona.extension === '' || persona.extension === null">
                            <img [src]="fotoUrl" alt="Foto del usuario" *ngIf="persona.extension !== '' && persona.extension !== null" #profilePhoto> -->
                            <img src="../../../assets/img/user.png" alt="Foto del usuario" [ngClass]="persona.extension === '' || persona.extension === null ? '' : 'photo-hide'">
                            <img [src]="fotoUrl" alt="Foto del usuario" [ngClass]="persona.extension !== '' && persona.extension !== null ? '' : 'photo-hide'" #profilePhoto>
                        </div>
                    </div>
                </div>
                <div class="intro-content-div div-right">
                    <div class="white-blur"></div>
                    <div class="photo-placeholder-mobile">
                        <div class="photo-edit-btn">
                            <app-edit-btn *ngIf="userLoggedIn" (click)="showModal('ProfilePhoto','edit', persona)"></app-edit-btn>
                        </div>
                        <div class="photo-img-overflow-hidden">
                            <!-- <img src="../../../assets/img/user.png" alt="Foto del usuario" *ngIf="persona.extension === '' || persona.extension === null">
                            <img [src]="fotoUrl" alt="Foto del usuario" *ngIf="persona.extension !== '' && persona.extension !== null" #profilePhoto> -->
                            <img src="../../../assets/img/user.png" alt="Foto del usuario" [ngClass]="persona.extension === '' || persona.extension === null ? '' : 'photo-hide'">
                            <img [src]="fotoUrl" alt="Foto del usuario" [ngClass]="persona.extension !== '' && persona.extension !== null ? '' : 'photo-hide'" #profilePhoto>
                        </div>
                    </div>
                    <h1>
                        {{persona.nombre}} {{persona.apellido}}
                        <!-- <div class="edit-btn-intro-container">
                            <app-edit-btn *ngIf="userLoggedIn" (click)="showModal('Persona','Edit', persona)"></app-edit-btn>
                        </div> -->
                    </h1>
                    <h2>
                        {{persona.descripcion}}
                        <!-- <div class="edit-btn-intro-container">
                            <app-edit-btn *ngIf="userLoggedIn" (click)="showModal('Persona','Edit', persona)"></app-edit-btn>
                        </div> -->
                    </h2>
                    <div class="p-container">
                        <p>
                            {{persona.sobre_mi}}
                        </p>
                        <!-- <div class="edit-btn-intro-container">
                            <app-edit-btn *ngIf="userLoggedIn" (click)="showModal('Persona','Edit', persona)"></app-edit-btn>
                        </div> -->
                    </div>
                    <div>
                        <button class="edit-intro-btn" *ngIf="userLoggedIn" (click)="showModal('Persona','Edit', persona)">Editar Datos</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="exp-section" id="expSection">
        <div class="add-btn-container">
            <app-add-btn *ngIf="userLoggedIn" (click)="showModal('ExpLaboral','add')"></app-add-btn>
        </div>
        <div class="section-title-grp">
            <h2>Experiencia Laboral</h2>
            <div class="section-title-underline"></div>
        </div>
        <div class="sin-registros" *ngIf="personaExperienciaLaboral.length == 0">
            <h2>No existen registros para mostrar</h2>
        </div>
        <ul *ngIf="personaExperienciaLaboral.length > 0">
            <li *ngFor="let experienciaLaboral of personaExperienciaLaboral">
                <div class="edit-delete-btn-grp">
                    <app-edit-btn *ngIf="userLoggedIn" (click)="showModal('ExpLaboral','edit', experienciaLaboral)"></app-edit-btn>
                    <app-delete-btn *ngIf="userLoggedIn" (click)="deleteDialog(experienciaLaboral.id!, 'ExpLaboral')"></app-delete-btn>
                </div>
                <h4>{{ experienciaLaboral.nombre_empresa }}</h4>
                <p *ngIf="!experienciaLaboral.es_trabajo_actual" class="experiencia-laboral-year">{{ experienciaLaboral.fecha_inicio | date:"MM-yyyy" }} al {{ experienciaLaboral.fecha_fin | date:"MM-yyyy" }}</p>
                <p *ngIf="experienciaLaboral.es_trabajo_actual" class="experiencia-laboral-year">{{ experienciaLaboral.fecha_inicio | date:"MM-yyyy" }} - Actualidad</p>
                <p class="experiencia-laboral-descripcion">{{ experienciaLaboral.descripcion }}</p>
                <p class="experiencia-laboral-tipoempleo">{{ experienciaLaboral.tipo_empleo.nombre_tipo }}</p>
            </li>
        </ul>
    </section>
   
    <section class="skills-section" id="skillsSection">
        <div class="add-btn-container">
            <app-add-btn *ngIf="userLoggedIn" (click)="showModal('Habilidad', 'add')"></app-add-btn>
        </div>
        <div class="section-title-grp">
            <h2 class="skills-sections-title">Habilidades</h2>
            <div class="section-title-underline"></div>
        </div>
        <div class="sin-registros" *ngIf="personaHabilidades.length == 0">
            <h2>No existen registros para mostrar</h2>
        </div>
        <div class="skill-unit-container" id="skillUnitContainer" *ngIf="personaHabilidades.length > 0">
            <app-habilidad-item *ngFor="let habilidad of personaHabilidades" [habilidad]="habilidad" [userLoggedIn]="userLoggedIn" [persona]="persona"></app-habilidad-item>
        </div>
    </section>
    
    <section class="educacion-section" id="educacionSection">
        <div class="add-btn-container">
            <app-add-btn *ngIf="userLoggedIn" (click)="showModal('Educacion','add', persona.educacion)"></app-add-btn>
        </div>
        <div class="section-title-grp">
            <h2>Educación</h2>
            <div class="section-title-underline"></div>
        </div>
        <div class="sin-registros" *ngIf="personaEducacion.length == 0">
            <h2>No existen registros para mostrar</h2>
        </div>
        <ul *ngIf="personaEducacion.length > 0">
            <li *ngFor="let educacion of personaEducacion">
                <div class="edit-delete-btn-grp">
                    <app-edit-btn *ngIf="userLoggedIn" (click)="showModal('Educacion','edit', educacion)"></app-edit-btn>
                    <app-delete-btn *ngIf="userLoggedIn" (click)="deleteDialog(educacion.id!, 'Educacion')"></app-delete-btn>
                </div>
                <h4>{{ educacion.nivel }}</h4>
                <p>{{ educacion.establecimiento }}</p>
                <p>{{ educacion.titulo }}</p>
            </li>
        </ul>
    </section>

    <section class="proyectos-section" id="proyectosSection">
        <div class="add-btn-container">
            <app-add-btn *ngIf="userLoggedIn" (click)="showModal('Proyecto', 'add')"></app-add-btn>
        </div>
        <div class="section-title-grp">
            <h2>Proyectos</h2>
            <div class="section-title-underline"></div>
        </div>
        <div class="sin-registros" *ngIf="personaProyectos.length == 0">
            <h2>No existen registros para mostrar</h2>
        </div>
        <ul class="proyectos-ul" *ngIf="personaProyectos.length > 0">
            <li *ngFor="let proyecto of personaProyectos">
                <div class="edit-delete-btn-grp-small">
                    <app-edit-btn [size]="'small'" *ngIf="userLoggedIn" (click)="showModal('Proyecto', 'edit', proyecto)"></app-edit-btn>
                    <app-delete-btn [size]="'small'" *ngIf="userLoggedIn" (click)="deleteDialog(proyecto.id!, 'Proyecto')"></app-delete-btn>
                </div>
                <a [href]="proyecto.link" class="proyectos-ul-li-a" target="_blank">
                    <div class="proyectos-img-container">
                        <img *ngIf="proyecto.extension != ''" [src]="proyectoBaseUrl + proyecto.id + '/downloadImage/' + proyecto.id + '.' + proyecto.extension" [alt]="proyecto.nombre">
                        <img *ngIf="proyecto.extension == ''" src="../../../assets/img/proy/placeholder.png">
                    </div>
                    <div class="proyectos-txt-container">
                        <h3>{{ proyecto.nombre }}</h3>
                        <p>{{ proyecto.descripcion }}</p>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</main>
<!-- FOOTER -->
<app-footer [nombre]="persona.nombre + ' ' + persona.apellido"></app-footer>

<!-- MODALS -->
<app-add-edit-persona [userLoggedIn]="userLoggedIn"></app-add-edit-persona>
<app-add-edit-profile-photo [userLoggedIn]="userLoggedIn"></app-add-edit-profile-photo>
<app-add-edit-educacion [userLoggedIn]="userLoggedIn"></app-add-edit-educacion>
<app-add-edit-explaboral [userLoggedIn]="userLoggedIn"></app-add-edit-explaboral>
<app-add-edit-habilidad [userLoggedIn]="userLoggedIn"></app-add-edit-habilidad>
<app-add-edit-proyecto [userLoggedIn]="userLoggedIn"></app-add-edit-proyecto>