/*-----------------------------------------------------------------------------------------------*/
/* SKILLS
/*-----------------------------------------------------------------------------------------------*/

.skill-unit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ring  {
    background-color: whitesmoke;
    padding: 1.5rem;
    border:  1px solid rgba(238, 238, 238, 0.15);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px rgba(255,255,255,0.55);
}

.percent-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
}

.percent-logo img {
    width: var(--skill-logo-size);
    height: var(--skill-logo-size);
}

.percentage-txt {
    font-size: 2rem;
    margin-top: 0.5rem;
}

.circular-chart {
    width: var(--skill-container-size);
    height: var(--skill-container-size);
}

/* Track */
.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

/* Stroke */
.circle { 
    fill: none;
    stroke-width: 2.75;
    stroke-linecap: round;
    stroke-dasharray: 0, 100;
    transition: stroke-dasharray 1.5s cubic-bezier(.55,.55,.03,1.25);
}

/* Edit Button */
.edit-delete-btn-grp-small {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}


@media only screen and (max-width: 1024px) and (orientation:portrait) {
    
    .ring  {
        background-color: whitesmoke;
        padding: 0.85rem;
    }

    .percent-logo img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .percentage-txt {
        font-size: 1.5rem;
    }

    .circular-chart {
        width: 8rem;
        height: 8rem;
    }

    .edit-delete-btn-grp-small {
        padding: 0.5rem 0.25rem;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1366px) and (orientation: landscape) {

    .ring  {
        background-color: whitesmoke;
        padding: 0.65rem;
    }

    .percentage-txt {
        font-size: 1.2rem;
    }

    .percent-logo img {
        width: 2.25rem;
        height: 2.25rem;
    }

    .circular-chart {
        width: 8rem;
        height: 8rem;
    }
}

@media only screen and (max-height: 500px) and (orientation: landscape) {

    .ring  {
        background-color: whitesmoke;
        padding: 0.65rem;
    }

    .percentage-txt {
        font-size: 1.2rem;
    }

    .percent-logo img {
        width: 2.25rem;
        height: 2.25rem;
    }

    .circular-chart {
        width: 7rem;
        height: 7rem;
    }

}