<div class="skill-unit">
    <div class="ring">
        <div class="edit-delete-btn-grp-small">
            <app-edit-btn [size]="'small'" *ngIf="userLoggedIn"></app-edit-btn>
            <app-delete-btn [size]="'small'" *ngIf="userLoggedIn"></app-delete-btn>
        </div>
        <svg viewBox="0 0 36 36" class="circular-chart">
            <defs>
                <linearGradient id="linear" x1="50%" y1="70%" x2="0%" y2="0%">
                    <stop offset="0%" stop-color="#12c2e9" />
                    <stop offset="50%" stop-color="#c471ed" />
                    <stop offset="100%" stop-color="#f64f59" />
                </linearGradient>
            </defs>
            <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
            <path class="circle" #circle d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" stroke="url(#linear)" />
        </svg>
    </div>
    <div class="percent-logo">
        <img [src]="'/assets/img/logos/' + habilidad.url_imagen" [alt]="habilidad.url_imagen.split('.')[0]">
        <div class="percentage-txt">
            <span #countup>{{ habilidad.porcentaje }}</span>
            <span>%</span>
        </div>
    </div>
</div>