<div class="modal-contenedor" *ngIf="userLoggedIn && showHabilidadModal">
    <div [ngClass]="!showBody ? 'modal-cuerpo modal-cuerpo-ocultar' : 'modal-cuerpo'">
        <div class="cerrar-modal-btn" (click)="closeModal()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 7.21875 5.78125 L 5.78125 7.21875 L 14.5625 16 L 5.78125 24.78125 L 7.21875 26.21875 L 16 17.4375 L 24.78125 26.21875 L 26.21875 24.78125 L 17.4375 16 L 26.21875 7.21875 L 24.78125 5.78125 L 16 14.5625 Z"/></svg>
        </div>
        <div>
            <h2 class="modal-titulo">{{ action }} Habilidades</h2>
            <div class="modal-subrayado"></div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="doble-input-error-grp">
                <div class="doble-input-grp">
                    <label for="nombre" class="form-label">
                        <input type="text" id="nombre" placeholder="Nombre" formControlName="nombre">
                    </label>
                    <span class="label-spacer"></span>
                    <label for="porcentaje" class="form-label">
                        <input type="number" step="1" id="porcentaje" placeholder="Porcentaje" formControlName="porcentaje">
                    </label>
                </div>
                <div class="error-grp">
                    <div class="form-error-en-grp" *ngIf="form.controls['nombre'].dirty && form.controls['nombre'].hasError('required')">*El nombre es obligatorio</div>
                    <div class="form-error-en-grp" *ngIf="form.controls['porcentaje'].dirty && form.controls['porcentaje'].hasError('required')">*El porcentaje es obligatorio</div>
                </div>
            </div>
            <div class="archivo-grp">
                <input type="file" name="file" id="file" class="file-input">
                <label for="file" class="form-label-file">Agregar Logo</label>
            </div>
            <button class="modal-submit-btn" [disabled]="!form.valid">{{ action }}</button>
            <input type="hidden" id="hidHabilidad" value="1">
        </form>
        <div class="loading-div" *ngIf="loadingState">
            <div class="loading-white-bg"></div>
            <div class="spinner"></div>
        </div>
    </div>
</div>